<ion-card (click)="redirectToRecipeDetails()">
  <ion-img [src]="getImageUrl()" alt="{{ title }}"></ion-img>
  <ion-card-content>
    <ion-card-header>
      <ion-card-title>{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-label>
      <app-static-stars [rating]="difficulty"></app-static-stars>
    </ion-label>
    <div class="recipe-card-description">
      <ion-icon name="timer-outline" class="recipe-card-timer"></ion-icon>
      <span>{{ time }}'</span>
    </div>
  </ion-card-content>
</ion-card>
