<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recipe Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openEditForm()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteRecipe()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading; else loadingTemplate">
  <ion-card *ngIf="!isEditing && recipe">
    <ion-card-header>
      <ion-card-title>{{ recipe.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Time:</strong> {{ recipe.time }} minutes</p>
      <p><strong>Difficulty:</strong> {{ recipe.difficulty }}</p>
    </ion-card-content>
  </ion-card>

  <form *ngIf="isEditing" (ngSubmit)="submitEditForm()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="recipe.title" name="title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dificultad</ion-label>
      <ion-select [(ngModel)]="recipe.difficulty" name="difficulty" required>
        <ion-select-option value="1">Muy Fácil</ion-select-option>
        <ion-select-option value="2">Fácil</ion-select-option>
        <ion-select-option value="3">Normal</ion-select-option>
        <ion-select-option value="4">Difícil</ion-select-option>
        <ion-select-option value="5">Muy Difícil</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tiempo (minutos)</ion-label>
      <ion-input
        [(ngModel)]="recipe.time"
        name="time"
        type="number"
        required
      ></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Guardar Cambios</ion-button>
    <ion-button expand="full" color="light" (click)="cancelEdit()"
      >Cancelar</ion-button
    >
  </form>

  <ion-list>
    <ion-list-header>
      <ion-label>Ingredients</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of ingredientsWithQuantities">
      <ion-label *ngIf="item.ingredient"
        >{{ item.ingredient.title }} - {{ item.quantity }}</ion-label
      >
      <ion-icon
        *ngIf="item.ingredient"
        name="trash"
        slot="end"
        (click)="deleteRelacion(item.ingredient.id)"
      ></ion-icon>
    </ion-item>
    <ion-item
      button
      (click)="showIngredientSelector = !showIngredientSelector"
      slot="center"
    >
      + Agregar Ingrediente
    </ion-item>
    <ion-item *ngIf="showIngredientSelector">
      <ion-select
        [(ngModel)]="selectedIngredient"
        placeholder="Seleccionar Ingrediente"
      >
        <ion-select-option
          *ngFor="let ingredient of availableIngredients"
          [value]="ingredient"
        >
          {{ ingredient.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="showIngredientSelector">
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="ingredientQuantity"
        name="quantity"
        required
      ></ion-input>
    </ion-item>
    <ion-item *ngIf="showIngredientSelector">
      <ion-button expand="full" (click)="addIngredient()"
        >Agregar Ingrediente</ion-button
      >
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #loadingTemplate>
  <ion-spinner></ion-spinner>
  <p>Loading...</p>
</ng-template>
